# Entradas por teclado
Recordando a la función input() que lee una cadena por teclado, su inconveniente es que se debe transformar el valor a numérico para operar con el:

In [1]:
decimal = float( input("Introduce un número decimal con punto: ") )

Introduce un número decimal con punto: 3.15

In [2]:
valores = []

In [3]:
print("Introduce 3 valores")
for x in range(3):
    valores.append( input("Introduce un valor >") )

Introduce 3 valores
Introduce un valor >1
Introduce un valor >2
Introduce un valor >3

In [4]:
valores

['1', '2', '3']

# Salida por pantalla
La función print() imprime valores separados por comas:

In [5]:
v = "otro texto"
n = 10
print("Un texto",v,"y un número",n)

Un texto otro texto y un número 10

## El método .format()
Permite formatear información en una cadena (variables o valores literales) utilizando identificadores:

In [6]:
c = "Un texto '{}' y un número '{}'".format(v,n)
c

"Un texto 'otro texto' y un número '10'"

In [7]:
print(c)

Un texto 'otro texto' y un número '10'

#### Referenciando con índices:

In [8]:
print( "Un texto '{1}' y un número '{0}'".format(v,n) )

Un texto '10' y un número 'otro texto'

#### O podemos utilizar identificador con una clave y luego pasarlas en el format:

In [9]:
print( "Un texto '{v}' y un número '{n}'".format(n=n,v=v) )

Un texto 'otro texto' y un número '10'

In [10]:
print("{v},{v},{v}".format(v=v))

otro texto,otro texto,otro texto

## Formateo avanzado
### Alineamiento a la derecha en 30 caracteres

In [11]:
print( "{:>30}".format("palabra") )

                       palabra

### Alineamiento a la izquierda en 30 caracteres

In [12]:
print( "{:30}".format("palabra") )

palabra

### Alineamiento al centro en 30 caracteres

In [13]:
print( "{:^30}".format("palabra") )

           palabra

### Truncamiento a 3 caracteres

In [14]:
print( "{:.5}".format("palabra") ) # El punto indica truncamiento

palab

### Alineamiento a la derecha en 30 caracteres con truncamiento de 3

In [15]:
print( "{:>30.3}".format("palabra") )

                           pal

### Formateo de números enteros, rellenados con espacios

In [16]:
print("{:4d}".format(10)) # "d" de digits
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

### Formateo de números enteros, rellenados con ceros

In [17]:
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

### Formateo de números flotantes, rellenados con espacios y redondeado

In [18]:
print("{:7.3f}".format(3.1415926))
print("{:7.3f}".format(153.21))

  3.142
153.210

### Formateo de números flotantes, rellenados con ceros

In [19]:
print("{:07.3f}".format(3.1415926))
print("{:07.3f}".format(153.21))

003.142
153.210

In [20]:
print("{:07.4f}".format(3.1415926))

03.1416